@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:after,
:before {
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
  margin: 0;
}
:root {
  --primary-color: #003083;
}

.primary-text {
  color: var(--primary-color);
}
html {
  font-size: 16px;
}
a {
  text-decoration: none !important;
  color: #000;
  cursor: pointer;
}
ol,
ul {
  list-style: none;
  padding-left: 0;
  list-style-type: none;
}
/* body {
  background-color: #0e1212;
} */
/* .header {
  z-index: 1;
} */

/* .video-bg {
  max-height: 100%;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
} */
.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 15px;
  margin: auto;
}

.header--title {
}

.description {
  color: #302f36;
  line-height: 1.8em;
}

.btn--tino {
  font-size: 20px;
  font-weight: 300;
  margin-top: 25px;
  display: inline-block;
  width: 175px;
  color: var(--primary-color);
  padding: 10px;
  border: 1px solid var(--primary-color);
  text-align: center;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.btn--tino:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

/* header */

header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.header--sticky {
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1);
}

.header .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container--logo {
  max-width: 125px;
}
.menu--item a {
  position: relative;
}

.menu--item a:before {
  height: 2px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  background: var(--primary-color);
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.menu--item a:hover:before {
  width: 100%;
}

/* landing */

.container--sns-top {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item--sns {
  margin: 0 10px;
}
/* about */

.container--section-about {
  padding: 35px 0;
}

.container--section-about .container {
  display: flex;
  align-items: center;
}

.container--section-about .container > div {
  width: 50%;
}
/* .title-section {
  margin-bottom: 35px;
}
.section-about {
  padding: 85px 0;
  min-height: 100vh;
}
.section-about .inner-container,
.section-skill .inner-container {
  max-width: 1000px;
}

.section-skill {
  padding: 85px 0;
}

.item-trait {
  position: relative;
  padding-bottom: 33%;
}

.item-skill {
  padding: 7px 20px;
  border-radius: 15px;
  border: 1px solid var(--primary-color);
  margin-right: 15px;
}

.overlay-trait {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 31, 75, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-trait {
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 10px;
} */
