@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 15px;
  margin: auto;
}

.btn--external {
  display: inline-block;
  color: var(--primary-color);
  padding: 5px 10px;
  border: 1px solid var(--primary-color);
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.btn--external:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.btn--tino-white {
  color: #fff;
  border: 1px solid #fff;
}


/* header */

.header .container {
  height: 100px;
}

/* landing */

.container--sns-top {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
}

.item--sns {
  margin: 0 10px;
}

.animation-main {
  max-width: 350px;
}

/* about */

.container--section-about {
  padding: 75px 0;
}

.container--section-about .description {
  max-width: 850px;
  margin: auto;
}

/* skill */

.container--section-skill {
  padding: 115px 0;
  background-color: var(--primary-color);
}

.item-skill {
  padding: 15px;
  width: calc(25% - 20px);
  color: #fff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
  margin: 10px;
  border-radius: 5px;
  text-align: center;
}

/* experience */

.container--section-experience {
  padding: 35px 0 75px;
}

.item-experience ul li {
  position: relative;
  list-style-type: none;
  padding-left: 20px;
}

.item-experience ul li::before {
  content: "•";
  position: absolute;
  top: 0;
  left: -0;
}

.animation-exp {
  max-width: 400px;
  margin: auto;
}

.item--badge {
  padding: 5px;
  border-radius: 5px;
  margin-right: 3px;
  background-color: var(--primary-color);
  color: #fff;
}

.container--section-contact {
  padding: 75px 0;
}

.title-contact {
  max-width: 800px;
}

.icon--contact {
  width: 75px;
  height: 75px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin: 40px auto;
}