@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:after,
:before {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Schoolbell", cursive;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
  margin: 0;
}
:root {
  --primary-color: #66a1ee;
}

.primary-text {
  color: var(--primary-color);
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
  color: #000;
  cursor: pointer;
}
ol,
ul {
  list-style: none;
  padding-left: 0;
  list-style-type: none;
}
/* body {
  background-color: #0e1212;
} */
/* .header {
  z-index: 1;
} */

/* .video-bg {
  max-height: 100%;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
} */
.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 15px;
  margin: auto;
}

.header--title {
}

.description {
  line-height: 1.8em;
}

.btn--tino {
  font-size: 20px;
  font-weight: 300;
  margin-top: 25px;
  display: inline-block;
  width: 175px;
  color: var(--primary-color);
  padding: 10px;
  border: 1px solid var(--primary-color);
  text-align: center;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.btn--external {
  display: inline-block;
  color: var(--primary-color);
  padding: 5px 10px;
  border: 1px solid var(--primary-color);
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.btn--external:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.btn--tino-white {
  color: #fff;
  border: 1px solid #fff;
}

.btn--tino:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

/* header */

header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 100;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.header--sticky {
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1);
}

.header .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container--logo {
  max-width: 75px;
}
.menu--item a {
  position: relative;
}

.menu--item a:before {
  height: 2px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  background: var(--primary-color);
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.menu--item a:hover:before {
  width: 100%;
}

/* landing */

.container--section-landing {
  position: relative;
  overflow: hidden;
}

.container--sns-top {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item--sns {
  margin: 0 10px;
}

.animation-main {
  max-width: 350px;
}

/* about */

.container--section-about {
  padding: 75px 0;
}

.container--section-about .container {
  display: flex;
  align-items: center;
}

.container--section-about .description {
  max-width: 850px;
  margin: auto;
}

/* skill */

.container--section-skill {
  padding: 115px 0;
  background-color: var(--primary-color);
}

.item-skill {
  padding: 15px;
  width: calc(25% - 20px);
  /* border: 1px solid; */
  color: #fff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
  margin: 10px;
  border-radius: 5px;
  text-align: center;
}

/* experience */

.container--section-experience {
  padding: 35px 0 75px;
}
/* .title-section {
  margin-bottom: 35px;
}
.section-about {
  padding: 85px 0;
  min-height: 100vh;
}
.section-about .inner-container,
.section-skill .inner-container {
  max-width: 1000px;
}

.section-skill {
  padding: 85px 0;
}

.item-trait {
  position: relative;
  padding-bottom: 33%;
}

.item-skill {
  padding: 7px 20px;
  border-radius: 15px;
  border: 1px solid var(--primary-color);
  margin-right: 15px;
}

.overlay-trait {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 31, 75, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-trait {
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 10px;
} */

.item-experience ul li {
  position: relative;
  list-style-type: none;
  padding-left: 20px;
}

.item-experience ul li::before {
  content: "•";
  position: absolute;
  top: 0;
  left: -0;
}

.animation-exp {
  max-width: 400px;
  margin: auto;
}

.item--badge {
  padding: 5px;
  border-radius: 5px;
  margin-right: 3px;
  background-color: var(--primary-color);
  color: #fff;
}

.container--section-contact {
  padding: 75px 0;
}

.title-contact {
  max-width: 800px;
}

.icon--contact {
  width: 75px;
  height: 75px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin: 40px auto;
}